.chess-board {
    display: flex;
    border: 1px solid #666;
    position: relative;
}

.piece-case {
    overflow: hidden;
    position: absolute;
    width: var(--case-size);
    height: var(--case-size);
    background-color: var(--case-bg-color);
    /* transition: .2s; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece-case img {
    position: absolute;
}

.piece-case-mark {
    width: 100%;
    height: 100%;
}

.move {
    background-color: rgba(108, 211, 108, 0.815);
}

.kill {
    background-color: rgba(211, 108, 108, 0.815);
}

.check {
    background-color: rgba(108, 165, 211, 0.815);
}

.piece-case:hover {
    border-radius: 6px;
    z-index: 99;
    outline: 6px solid rgb(0, 156, 0);
}