* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hidden {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-moving-panel {
    border: 1px solid #666;
    border-radius: 5px;
    margin: 14px;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.player-moving-panel :first-child {
    /* margin-right: 10px; */
    background-color: #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
}

.player-moving {
    margin-right: 10px;
    padding: 10px 0px;
    width: 100px;
    text-align: center;
}

.chess-board {
    display: flex;
    border: 1px solid #666;
    position: relative;
}

.piece-case {
    overflow: hidden;
    position: absolute;
    width: var(--case-size);
    height: var(--case-size);
    background-color: var(--case-bg-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece-case img {
    position: absolute;
}

.piece-case-mark {
    width: 100%;
    height: 100%;
}

.move {
    background-color: rgba(108, 211, 108, 0.815);
}

.kill {
    background-color: rgba(211, 108, 108, 0.815);
}

.check {
    background-color: rgba(108, 165, 211, 0.815);
}

.piece-case:hover {
    border-radius: 6px;
    z-index: 99;
    outline: 6px solid rgb(0, 156, 0);
}

.check-match-message {
    position: absolute;
    text-align: center;
    background-color: #fff;
    padding: 10px 20px;
    border: 2px solid #666;
    border-radius: 20px;
    top: 30%;
    z-index: 99;
}

.check-match-message h2 {
    font-size: 5rem;
    margin: 10px 0px;
    /* text-transform: uppercase; */
}

.check-match-message .winner-message {
    font-size: 2.6rem;
}

.check-match-message .player-winner {
    text-decoration: underline;
}

.check-match-message button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    background: #999;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.background-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}